.banner {
  background: url('../../img/banners/home.jpg') no-repeat;
}

.introducao-bg {
  background: var(--cor-p5);
}

.introducao-horario {
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
  justify-content: center;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 60px;
}

.introducao-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
  padding-bottom: 80px;
}

@media (max-width: 800px) {
  .introducao-horario {
    gap: 20px;
    padding-top: 20px;
    margin-bottom: 30px;
  }
  .introducao-horario .font-1-l {
    font-size: 1.125rem;
  }
  .introducao-horario .font-2-m {
    font-size: 1rem;
  }
  .introducao-conteudo {
    grid-template-columns: 1fr;
    gap: 30px;
    padding-bottom: 60px;
  }
}

@media (max-width: 660px) {
  .introducao-horario {
    gap: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .introducao-conteudo {
    gap: 30px;
  }
  .introducao-conteudo .font-2-l {
    font-weight: 400;
    font-size: 1rem;
  }
}
